@use "theme" as *;

.radio-input {

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    &__checker {
        width: 16px;
        height: 16px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: solid 1px $pink-light;
        box-shadow: 0px 0px 12px 0px #c88eff4d inset, 0px 0px 56px -24px #6429CD;
        display: grid;
        place-items: center;


        &::before {
            content: "";
            width: 8px;
            height: 8px; 
            aspect-ratio: 1;
            background-color: $pink-light;
            border-radius: 50%;
            position: relative;
            opacity: 0;
            transition: opacity .15s ease;
        }
    }

    &__input:checked+&__checker::before {
        opacity: 1;
    }
}