<div class="classroom">
    <header class="classroom__header">
        <picture class="classroom__picture-pragma-icon">
            <img src="/icons/poker-pragma-icon.svg" alt="Poker pragma icon">
        </picture>

        <h1 class="classroom__title">Prueba</h1>

        <div class="classroom__invite-players-button">
            <atom-avatar *ngIf="username" [username]="username"/>
            <atom-button (click)="openModal('invite-players')" variant="second">Invitar jugadores</atom-button>
        </div>
    </header>


    <classroom-new-player />
    <classroom-invite-players  />
    <classroom-poker-table />
    <classroom-poker-footer />
</div>